<div
  [ngClass]="{ 'dark-theme': theme }"
  class="d-flex align-center cursor-pointer card-wrapper"
>
  <div
    class="d-flex align-center justify-center check-box"
    (click)="completed()"
    [ngClass]="{ 'fill-circle': !data.active }"
  >
    <img
      *ngIf="!data.active"
      src="../../../../assets/todo-app/icons/icon-check.svg"
      alt="check"
      height="12"
    />
  </div>
  <h5 class="card-text" [ngClass]="{ 'strike-out': !data.active }">
    {{ data.task }}
  </h5>
  <img
    *ngIf="!theme"
    class="delete-icon"
    src="../../../../assets/todo-app/icons/icon-cross.svg"
    alt="close"
  />
  <img
    *ngIf="theme"
    class="delete-icon"
    src="../../../../assets/todo-app/icons/icon-cross-dark.svg"
    alt="close"
  />
</div>
