<section [ngClass]="{ 'dark-theme': isDarkMode }">
  <div class="container">
    <div class="d-flex space-between logo-wrapper">
      <h1 class="logo-text">TODO</h1>
      <img
        *ngIf="!isDarkMode"
        src="../../../..//assets/todo-app/icons/icon-moon.svg"
        alt="moon"
        (click)="toggleDarkMode()"
      />
      <img
        *ngIf="isDarkMode"
        src="../../../..//assets/todo-app/icons/icon-sun.svg"
        alt="sun"
        (click)="toggleDarkMode()"
      />
    </div>
    <div class="d-flex align-center user-input-wrapper">
      <div class="check-box"></div>
      <input
        type="text"
        placeholder="Create a todo..."
        [(ngModel)]="userInput"
        (keyup.enter)="addToList()"
      />
    </div>
    <div class="todo-list-section">
      <div
        class="todo-list-wrapper"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <todo-card
          *ngFor="let card of displayTodoList; let i = index"
          [data]="card"
          [position]="i"
          [theme]="isDarkMode"
          (deletePosition)="deleteTask($event)"
          (completedPosition)="markTaskCompleted($event)"
          cdkDrag
        ></todo-card>
      </div>
      <div class="d-flex space-between align-center filter-wrapper">
        <span>{{ getRemainingTaskCount() }} items left</span>
        <div class="d-flex filter-desktop">
          <span
            *ngFor="let item of filterArray"
            class="cursor-pointer filter-item"
            [ngClass]="{ 'selected-filter': selectedFilter === item.key }"
            (click)="applyFilter(item.key)"
            >{{ item.displayName }}</span
          >
        </div>
        <button
          class="remove-btn-class cursor-pointer clear-btn"
          (click)="clearCompletedTask()"
        >
          Clear completed
        </button>
      </div>
      <div class="d-flex space-arround filters-mobile">
        <div class="d-flex align-center filters-mobile-wrapper">
          <span
            *ngFor="let item of filterArray"
            class="cursor-pointer filter-item"
            [ngClass]="{ 'selected-filter': selectedFilter === item.key }"
            (click)="applyFilter(item.key)"
            >{{ item.displayName }}</span
          >
        </div>
      </div>
    </div>
    <div class="d-flex space-arround">
      <span class="drag-drop-text">Drag and drop to reorder list</span>
    </div>
  </div>
</section>
