@use "../../../../assets/sass/common.scss";
@use "../../../../assets/todo-app/sass/variables.scss";

section {
  background-image: url(variables.$bg-mobile-light);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 20px;
  background-color: variables.$very-light-grayish-blue;
}

.logo-wrapper {
  margin: 20px auto;

  .logo-text {
    margin: 0;
    font-family: variables.$font-family;
    color: variables.$very-light-gray;
    font-weight: 700;
    letter-spacing: 10px;
  }

  img {
    height: 24px;
    cursor: pointer;
  }
}

.user-input-wrapper {
  background-color: white;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 8px;

  .check-box {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid variables.$dark-grayish-blue;
    margin: 0 20px;
  }

  input {
    outline: none;
    border: none;
    height: 30px;
    width: 90%;
    background-color: white;
    font-family: variables.$font-family;
    font-weight: 400;
    padding: 0;
  }
}

.todo-list-section {
  border-radius: 8px;
  overflow: hidden;

  .filters-mobile {
    margin: 20px 0;
    background-color: white;
    height: 45px;

    .filters-mobile-wrapper {
      padding: 0 20px;
      font-family: variables.$font-family;
      color: variables.$dark-grayish-blue;
      font-size: 14px;
    }

    .filters-mobile-wrapper .filter-item {
      margin: 0 8px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

.filter-wrapper {
  height: 65px;
  background-color: white;
  padding: 0 20px;
  font-family: variables.$font-family;
  color: variables.$dark-grayish-blue;
  font-size: 14px;

  .filter-item {
    margin: 0 8px;
    font-weight: 700;
    font-size: 16px;
  }

  .clear-btn {
    background-color: transparent;
    font-family: variables.$font-family;
    color: variables.$dark-grayish-blue;
    font-size: 15px;
  }

  .filter-desktop {
    display: none;
  }
}

.selected-filter {
  color: variables.$bright-blue;
}

.dark-theme {
  background-image: url(variables.$bg-mobile-dark);
  background-color: variables.$very-dark-blue;

  .user-input-wrapper,
  input,
  .filter-wrapper,
  .filters-mobile {
    background-color: variables.$very-dark-desaturated-blue;
  }

  .user-input-wrapper input {
    color: variables.$dark-grayish-blue;
  }
}

.drag-drop-text{
  color: variables.$dark-grayish-blue;
  font-family: variables.$font-family;
}

@media only screen and (min-width: 768px) {
  section {
    background-image: url(variables.$bg-desktop-light);
    padding: 0;
  }

  .container {
    max-width: 750px;
    margin: auto;
    padding-top: 60px;
  }

  .logo-wrapper .logo-text {
    font-size: 42px;
    letter-spacing: 10px;
  }

  .logo-wrapper img {
    height: 32px;
  }

  .user-input-wrapper {
    height: 65px;
    margin: 40px auto 30px auto;

    input {
      font-size: 20px;
    }
  }

  .dark-theme {
    background-image: url(variables.$bg-desktop-dark);
  }

  .filters-mobile {
    visibility: hidden;
  }

  .filter-desktop {
    display: block !important;
  }
}
