<div class="container">
  <h1>sunnyside</h1>
  <div class="m-40">
    <span>About</span>
    <span>Services</span>
    <span>Projects</span>
  </div>
  <div class="mt-60">
    <img
      src="../../../../assets/sunnyside-agency-landing-page/icons/icon-facebook.svg"
      alt=""
    />
    <img
      src="../../../../assets/sunnyside-agency-landing-page/icons/icon-instagram.svg"
      alt=""
    />
    <img
      src="../../../../assets/sunnyside-agency-landing-page/icons/icon-twitter.svg"
      alt=""
    />
    <img
      src="../../../../assets/sunnyside-agency-landing-page/icons/icon-pinterest.svg"
      alt=""
    />
  </div>
</div>
