<div class="container">
  <div>
    <div class="d-flex space-between vertical-align-center">
      <div class="d-flex flex-column">
        <span class="text-heading">Tip Amount</span>
        <span class="text-description">/ person</span>
      </div>
      <h1 class="amount">$6.21</h1>
    </div>
    <div class="d-flex space-between vertical-align-center mt-32">
      <div class="d-flex flex-column">
        <span class="text-heading">Total</span>
        <span class="text-description">/ person</span>
      </div>
      <h1 class="amount">$2.98</h1>
    </div>
  </div>
  <div><button class="remove-btn-class w-100 mt-24">RESET</button></div>
</div>
