@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$font-family: 'Rubik', sans-serif;

// Primary color
$very-dark-gray: hsl(0, 0%, 17%);
$very-dark-gray-hover: hsla(0, 0%, 17%,.9);

$dark-gray: hsl(0, 0%, 59%);
