@use "/src/assets/sass/common.scss";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=Fraunces:ital,wght@0,800;1,700&family=Poppins:wght@400;600&family=Rubik:wght@300;400;500&family=Space+Mono:wght@400;700&family=Spartan:wght@400;500;700&display=swap");

$dark-gray: hsl(0, 0%, 48%);

.container {
  background-color: whitesmoke;
  height: -webkit-fill-available;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: -50px 0 20px 0;
}
