@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(225, 100%, 98%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$very-dark-blue: hsl(232, 19%, 15%);
$desaturated-blue: hsl(228, 34%, 66%);

* {
  font-family: "Inter", sans-serif;
}

.social-media-home {
  padding: 20px;

  .title-text,
  .secondary-text,
  .overview-text {
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }

  .title-text {
    margin-bottom: 8px;
  }

  .secondary-text {
    font-size: 13px;
    margin: 0;
  }

  hr {
    margin: 16px 0;
  }

  .overview-text {
    font-size: 24px;
  }
}

.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#378fe6),
      to(#3eda82)
    );
    background: linear-gradient(to right, #378fe6, #3eda82);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.dark-theme {
  background-color: $very-dark-blue;

  .title-text {
    color: $white;
  }

  .secondary-text,
  hr {
    color: $desaturated-blue;
  }

  .overview-text {
    color: $white;
  }
}

.light-theme {
  background-color: $very-pale-blue;

  .title-text {
    color: $very-dark-blue;
  }

  .secondary-text,
  .overview-text {
    color: $dark-grayish-blue;
  }

  hr {
    color: $dark-grayish-blue;
  }
}

@media only screen and (min-width: 768px) {
  .social-media-home {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .media-home-header{
    display: flex;
    justify-content: space-between;
  }

  .secondary-text{
    padding-right: 12px;
  }

  hr{
    display: none;
  }

  .social-cards-wrapper{
    display: flex;
  }
}
