<div class="social-media-home" [ngClass]="darkMode === true ? 'dark-theme' : 'light-theme'">
  <div class="home-header">
    <h1 class="title-text">Social Media Dashboard</h1>
    <h5 class="secondary-text">Total Followers: 23,004</h5>
  </div>
  <hr/>
  <div class="theme-toggle">
    <h5 class="secondary-text">Dark Mode</h5>
    <label class="switch">
      <input type="checkbox" [checked]="darkMode" (change)="changeStatus()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="social-cards-wrapper"></div>
  <h2 class="overview-text">Overview - Today</h2>
  <div class="overview-cards-wrapper"></div>
</div>
