<mat-drawer-container class="container">
  <mat-drawer #drawer [mode]="mode.value">
    <div class="d-flex flex-column nav-wrapper">
      <button
        *ngFor="let item of navItems"
        [routerLinkActive]="['nav-item-selected']"
        class="remove-btn-class nav-item"
        [routerLink]="item.routerLink"
        (click)="setNav(item.key)"
        (click)="drawer.toggle()"
      >
        {{ item.displayName }}
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <button class="menu-button" mat-raised-button (click)="drawer.toggle()">
      <img src="/assets/icons/icon-side-menu.svg" alt="menu" />
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
