@use "../../../../assets/sass/common.scss";
@use "../../../../assets/ip-address-tracker/sass/variables.scss";

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
}

.header {
  background-image: url(../../../../assets/ip-address-tracker/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  padding: 20px 20px 0 20px;

  .title-text {
    font-weight: 500;
    font-family: variables.$font-family;
    color: white;
    font-size: 24px;
  }
}

.header .input-wrapper {
  background-color: white;
  border-radius: 12px;
  height: 55px;
  width: 90vw;
  margin: 10px auto;
  overflow: hidden;

  input {
    width: -webkit-fill-available;
    margin: 0 20px;
    font-size: 18px;
  }

  .btn-search {
    background-color: variables.$very-dark-gray;
    width: 55px;
    height: inherit;

    &:hover {
      background-color: variables.$very-dark-gray-hover;
    }
  }
}

.card {
  width: -webkit-fill-available;
  padding: 20px;
  text-align: center;
  margin: 0 20px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 12px;
  position: absolute;
  z-index: 1000;

  .text-wrapper {
    padding: 8px 0;
  }

  .card-title {
    font-size: 10px;
    color: gray;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .card-value {
    font-weight: 500;
    font-size: 20px;
  }

  h1,
  h6 {
    margin: 0;
    font-family: variables.$font-family;
  }
}

.map-container {
  height: 70vh;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 30vh;
    padding: 50px 20px 0 20px;

    .title-text {
      font-size: 32px;
    }

    .input-wrapper {
      width: 50vw;
    }
  }

  .card {
    display: flex;
    padding: 30px 0;
    margin: 0 20px;
    width: 80vw;
    left: 0;
    right: 0;
    margin: 0 auto;

    .text-wrapper {
      padding: 8px 0;
      width: 20vw;
      padding: 0 10px;
    }

    .card-title {
      font-size: 14px;
      margin-bottom: 12px;
    }

    .card-value {
      font-size: 24px;
    }

    .border-right{
      border-right: 1px solid lightgray;
    }
  }
}
