<div class="container">
  <div class="d-flex flex-column align-center header">
    <h1 class="title-text">IP Address Tracker</h1>
    <div class="d-flex input-wrapper">
      <input
        class="remove-input-class"
        type="text"
        placeholder="Search for any IP address or domain"
        [(ngModel)]="userInputIP"
        (keyup.enter)="searchIPAddress()"
      />
      <button class="remove-btn-class btn-search" (click)="searchIPAddress()">
        <img
          src="../../../../assets/ip-address-tracker/icons/icon-arrow.svg"
          alt="arrow"
        />
      </button>
    </div>
  </div>
  <div class="card">
    <div class="text-wrapper border-right">
      <h6 class="card-title">IP ADDRESS</h6>
      <h1 class="card-value">{{ ipAddress }}</h1>
    </div>
    <div class="text-wrapper border-right">
      <h6 class="card-title">LOCATION</h6>
      <h1 class="card-value">{{ location }}</h1>
    </div>
    <div class="text-wrapper border-right">
      <h6 class="card-title">TIMEZONE</h6>
      <h1 class="card-value">{{ timeZone }}</h1>
    </div>
    <div class="text-wrapper">
      <h6 class="card-title">IPS</h6>
      <h1 class="card-value">{{ isp }}</h1>
    </div>
  </div>
  <div class="map-container" id="map-container"></div>
</div>
