<div class="card" [ngClass]="{ 'card-border': data.isFeatured }">
  <img class="image-wrapper" [src]="data.imageUrl" alt="logo" />
  <div class="card-content">
    <div>
      <div class="d-flex align-center">
        <h5 class="company-name-text">{{ data.companyName }}</h5>
        <div *ngIf="data.postedDate <= 2" class="new-tag">NEW!</div>
        <div *ngIf="data.isFeatured" class="featured-tag">FEATURED</div>
      </div>
      <h3 class="cursor-pointer designation-text">{{ data.designation }}</h3>
      <div class="d-flex align-center space-between content-footer">
        <span class="sub-text">{{ data.postedDate | days }}</span>
        <strong>.</strong>
        <span class="sub-text">{{ data.jobType }}</span>
        <strong>.</strong>
        <span class="sub-text">{{ data.location }}</span>
      </div>
    </div>
    <div class="d-flex card-tags-wrapper">
      <span
        *ngFor="let tag of data.tags"
        class="cursor-pointer tags"
        (click)="addTagToList(tag)"
        >{{ tag }}</span
      >
    </div>
  </div>
</div>
