@use "./../../../../assets/sass/common.scss";
@use "./../../../../assets/job-listing/sass/variables.scss";

* {
  box-sizing: border-box;
  font-family: variables.$font-family;
}

.container {
  min-height: 100vh;
  background-color: variables.$light-grayish-cyan;
  padding-bottom: 1px;
}

.header {
  background-image: url(variables.$background-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  height: 264px;
}

.search-wrapper,
.job-list-wrapper {
  border-radius: 4px;
}

.search-wrapper {
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 10px 30px -12px variables.$desaturated-dark-cyan-shadow;
  margin: -40px 20px 0;
  padding: 24px 40px;

  .btn-clear {
    font-weight: 700;
    color: variables.$desaturated-dark-cyan;
    font-size: 18px;
    height: 20px;

    &:hover {
      border-bottom: 2px solid variables.$desaturated-dark-cyan;
    }
  }
}

.chip-wrapper {
  color: variables.$desaturated-dark-cyan;
  background-color: variables.$light-grayish-cyan;
  font-weight: 700;
  border-radius: 2px;
  padding-left: 8px;
  margin-right: 12px;
  height: fit-content;
  justify-content: start;

  .close-btn {
    background: variables.$desaturated-dark-cyan;
    padding: 8px;
    margin-left: 8px;

    &:hover {
      background-color: black;
    }
  }
}

.job-list-wrapper {
  margin: 20px;
}

@media only screen and (min-width: 945px) {
  .header {
    background-image: url(variables.$background-desktop);
  }

  .search-wrapper,
  .job-list-wrapper {
    width: 80%;
  }

  .search-wrapper {
    margin: -40px auto 30px;
  }

  .job-list-wrapper {
    margin: 20px auto;
  }
}
