<page-header></page-header>
<div class="d-flex flex-column">
  <div class="text-card-section mt">
    <img
      src="./../../../../assets/sunnyside-agency-landing-page/images/desktop/image-transform.jpg"
      alt=""
    />
    <text-card [data]="textCardData[0]" id="text-card"></text-card>
  </div>
  <div class="text-card-section flex-unset">
    <img
      src="./../../../../assets/sunnyside-agency-landing-page/images/desktop/image-stand-out.jpg"
      alt=""
    />
    <text-card [data]="textCardData[1]" id="text-card"></text-card>
  </div>
</div>
<div class="fruit-card">
  <fruit-card *ngFor="let card of fruitCardData" [data]="card"></fruit-card>
</div>
<feedback-card [data]="feedbackCardData"></feedback-card>
